@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --blue: hsl(223, 87%, 63%);
  --tint-blue: hsla(223, 87%, 63%, 0.8);
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
  --fs-base: 20px;
  --fw-light: 300;
  --fw-semi-bold: 600;
  --fw-bold: 700;
}

body {
  background-color: var(--white);
  font-family: "Libre Franklin", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
}
.container h1 {
  margin-top: 40px;
  font-size: 26px;
  font-weight: var(--fw-semi-bold);
  color: var(--gray);
}
.container h1 span {
  font-weight: var(--fw-bold);
  color: var(--very-dark-blue);
}
.container p {
  font-size: 16px;
  letter-spacing: -0.08ch;
  font-weight: var(--fw-light);
  color: var(--very-dark-blue);
  margin-top: 12px;
}
.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container form input[type=email] {
  width: 100%;
  max-width: 400px;
  margin-top: 30px;
  padding: 12px 24px;
  border: 1px solid var(--pale-blue);
  border-radius: 32px;
}
.container form input[type=email]::-moz-placeholder {
  color: var(--pale-blue);
}
.container form input[type=email]::placeholder {
  color: var(--pale-blue);
}
.container form input[type=email]:focus {
  outline: 2px solid var(--blue);
}
.container form #error {
  display: inline-block;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  margin: 8px 0;
  color: var(--light-red);
}
.container form button {
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
  padding: 12px 24px;
  border: 0;
  border-radius: 32px;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--fw-light);
  letter-spacing: 0.07ch;
}
.container form button:hover {
  background-color: var(--tint-blue);
}
.container .hero {
  margin-top: 60px;
  max-width: 400px;
  width: 100%;
  height: auto;
}
.container .hero img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}
footer .socials {
  margin: 40px 0 20px 0;
  display: flex;
  align-items: center;
  gap: 16px;
}
footer .socials ion-icon {
  font-size: 16px;
  color: var(--blue);
  border: 1px solid var(--pale-blue);
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
footer .socials ion-icon:hover {
  color: var(--white);
  background-color: var(--blue);
}
footer .attribution {
  font-size: 12px;
  font-weight: var(--fw-light);
  color: var(--gray);
}

@media screen and (min-width: 768px) {
  .container h1 {
    margin-top: 45px;
    font-size: 48px;
    font-weight: var(--fw-light);
  }
  .container p {
    font-size: 21px;
    letter-spacing: -0.02ch;
    margin-top: 16px;
  }
  .container form {
    max-width: 850px;
    margin-top: 40px;
    flex-direction: row;
    gap: 16px;
    position: relative;
  }
  .container form input[type=email] {
    width: 100%;
    max-width: 420px;
    margin-top: 0;
    padding: 18px 24px;
  }
  .container form input[type=email]::-moz-placeholder {
    font-size: 16px;
  }
  .container form input[type=email]::placeholder {
    font-size: 16px;
  }
  .container form button {
    width: 100%;
    max-width: 200px;
    margin-top: 0;
    padding: 18px 24px;
    font-size: 16px;
  }
  .container form #error {
    position: absolute;
    bottom: -28px;
    left: 132px;
  }
  .container .hero {
    margin-top: 86px;
    max-width: 640px;
  }
  footer .attribution {
    font-size: 14px;
  }
}/*# sourceMappingURL=style.css.map */